html
	head
		link(rel="StyleSheet" href='/css/index.css')
		title Chat App!
		script(src="/js/jquery.js")
		script(src="/socket.io/socket.io.js")
		script(src="/js/index.js")
	body
		ul#messageContainer
		input#messageInput(type="text")
		button#messageSendButton(type="button" onclick='postMessage("#messageInput");') Send

