html
	head
		link(rel="StyleSheet" href=path+'css/index.css')
		title Chat App!
		script(src=path+"js/jquery.js")
		script(src="/socket.io/socket.io.js")
		script(src=path+"js/index.js")
	body
		div#messageContainer
		input#messageInput(type="text")
		button#messageSendButton(type="button" onclick='postMessage("#messageInput");') Send

