html
	head
		link(rel="StyleSheet" href='/css/index.css')
		title Chat App!
		script(src="/js/jquery.js")
		script(src="/js/index.js")
	body
		div#messageContainer Hello
		input#messageInput(type="text")
		button(type="button" onclick='postMessage("#messageInput");') Send

