body{
	margin:10px;
	padding:0px;
}

#messageContainer{
	width:90vw;
	height: 80%;
	overflow: scroll;
	overflow-x:hidden;
	list-style: none;
}
#messageInput{
	width:90%;
	height: 30px;
	padding-right:
}
#messageSendButton{
	width: 10%;
	height:30px;
}
li > .messageLeftSide{
	float:left;
	width:50%;
}
li > .messageRightSide{
	float:left;
	width:50%;
}
